


body {
	margin: 0;
	padding: 30px 0px 0px 0px;
	background: #291639; /* url(bottom.svg) repeat-x left bottom;*/
	font-family: Arial;
	font-size: 14px;
	color: #291639;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Titillium Web;
	font-weight: normal;
	color: #181b20;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
  color: #25366E;
}

h3 {
	font-size: 1.6em;
  color: #ff0052;
}

h4 {
	font-size: 1.2em;
  color: #ff0052;
}

h5 {
	font-size: 1.2em;
  color: #291639;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

button {
	color: #000000;
	background-color: #cab2de;
	padding: 10px;
	border: none;
    	border-radius: 6px;
	font-family: Titillium Web;
	font-weight: normal;
	
}

a {
	text-decoration: none;
	color: #ff0052;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 4px solid #25366E;
}

img.alignleft {
	float: left;
	margin-right:25px;
}

img.alignright {
	float: right;
	margin-left:25px;
	margin-bottom: 25px;
	margin-top: 25px;
}

img.aligncenter {
   
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 940px;
	height: 50px;
	margin: 0px auto;
	padding: 20px 20px 0px 20px;
	background: #291639;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: center;
	height: 46px;
	margin: 0px;
	padding: 0px 20px 0px 20px;
	line-height: 46px;
	letter-spacing: 0px;
	text-decoration: none;
	font-family: Titillium web;
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: #ff0052;
    border-radius: 6px;
	
}

#menu a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background: #FFFFFF ;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
  
}
       
/* Block */

#block {
	float: middle;
	width: 80%;
	padding: 0px 0px 0px 0px;
	background-color: #eeeeee;
	padding: 20px;
    	border-radius: 6px;
}
       
/* Content */

#content {
	float: right;
	width: 600px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 50px;
  letter-spacing: 0px;
 
  
}

.post .title {
	padding-top: 10px;
	letter-spacing: 0px;
  padding-right: 0px;
}

.post .title a {
	color: #1A1A1A;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: century gothic, Helvetica, sans-serif;
	font-size: 11px;
	font-style: century gothic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 260px;
	padding: 0px 0px 0px 0px;
  background: url(imgages/logo4.png)  no-repeat left bottom;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 20px;
	line-height: 35px;
	background: url(images/img07.jpg) no-repeat left 14px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: century gothic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #1A1A1A;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 100px 100px 40px 300px;
	font-family: century gothic, Helvetica, sans-serif;
  
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}

/* Table */

#table, th, td {
	width: 600px;
	height: 36px;
	background-color: #EEE7DF;
	border: 2px;
	border-color: #af0706;
	text-align:center;
}  

/*Emphasis*/

strong {
	color: #ff0052;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: -2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color:  #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #291639;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}



 
